#!/usr/bin/env bash

OS=`uname`
pushd ~/cdk/components/rhel/rhel-ose

case "$OS" in
    Linux)
        sed -i '$i  config.registration.serverurl = "{{ rhn_server_hostname }}"' Vagrantfile
        sed -i '$i  config.registration.baseurl = "{{ rhsm_baseurl }}"' Vagrantfile
        ;;
    Darwin)
        gsed -i '$i  config.registration.serverurl = "{{ rhn_server_hostname }}"' Vagrantfile
        gsed -i '$i  config.registration.baseurl = "{{ rhsm_baseurl }}"' Vagrantfile
        ;;
esac


if grep -i fedora /etc/redhat-release; then
    vagrant up
elif grep -i 'red hat' /etc/redhat-release; then
    scl enable sclo-vagrant1 'bash -c "vagrant up"'
fi

popd